# === Python / Django ===
*.pyc
__pycache__/
*.cfg
.env
.venv
venv/
ENV/
db.sqlite3
/backend/media/

# === Node / React / Frontend ===
node_modules/
.pnpm-store/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === IDEs / System ===
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db